{% extends "base.html" %}
{% load static %}


{% block content %} 

</div>
   <div class="mt-20 mx-4">
    <h1>work List</h1>
    {% if object_list %}
    
    {% for work in object_list %}
    <ul>
        <li>
          <a href=""> {{ work.title }} {{ work.desc }}</a> 
        </li>
    </ul>
    {% endfor %}
    {% else %}
      <p>There are no works in the library.</p>
    {% endif %}
   </div>
  

   <section>
    <div class="bg-white mt-16">
         <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"> Main Services
          </h2>
  
          {% if object_list %}
         <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 ">
          {% for work in object_list %}
  
             <div class="border flex flex-col justify-center items-center py-3 gap-4 rounded-lg hover:">
                
                 <img class="h-40 w-40  rounded-full" src="{{ work.image.url }}"alt="">
                 <div class="px-5 py-1 rounded-full">
                  {{work.title}}
                </div>
                 <div class="mx-2 border rounded-lg px-4 py-3 ">
                         {{ work.desc }}
                 </div>
             </div>
             {% endfor %}
             </div>
             {% else %}
      <p>There are no works in the library.</p>
    {% endif %}
     </div>
  </div>
        

{% endblock %}